<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MusicGenerator</title>

    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/application.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.fittext.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/midi/player.js' %}"></script>
    <script src="{% static 'js/application.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/creative.js' %}"></script>
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" >

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">

    <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- scrolling function -->

    <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>

</head>

<body id="page-top" onload="load_midi()">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">MusicGen</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                      </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Boost your productivity with MusicGen.</h1>
                <hr>

                <p>Keep your body in sync with everything you do. MusicGen is an adaptable music generator for adapting algorithmic music to your changing activity rhythms.</p>
                <!-- Do not edit this stuff -->
                <div id="loading_div">
                    <h3>Still loading...</h3>
                </div>
                <h2></h2>
                <div id="loaded_div" style="display: none;">
                    <h3>Loaded!</h3>
                </div>
                <button id="play_midi" class="btn btn-primary btn-xl page-scroll" disabled="true">Play Midi</button>
            </div>
                <div class="container-fluid" style="padding-top:10px">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Genre
                        <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="transform:translate(38vw,0)">
                            <li><a href="#">Jazz</a></li>
                            <li><a href="#">Classical</a></li>
                            <li><a href="#">Video Game Music</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End uneeditables -->
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Every  algorithm-generated track is unique, and never repeated twice.</h2>
                    <hr class="light">
                    <p class="text-faded"></p>
                    <a href="#whatwedo" class="btn btn-default btn-xl">Learn more!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="whatwedo">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <hr class="primary">
                    <p>MusicGen is a program that generates music on the fly. By taking in a tempo from the user, it uses randomized music generation algorithms to output music for the user.</p>
                    <p>The user inputs a tempo using MusicGen's mobile integration; by tapping on their phone to a beat the user can set a tempo for their music. The algorithm then adjusts the music to the user defined tempo. </p>
                    <p>The innate randomness promises that no two tracks will be the same and that the tune will be perfectly calibrated to the user's needs.</p>
                    <p>Built for Productivity; Optimized for fun.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">The Team</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-3 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="{% static "imgs/phil_portrait.jpg" %}" data-holder-rendered="true">
                  <h3>Phillip Kuznetsov</h3>
                  <p></p>
                </div>
                <div class="col-lg-3 col-sm-12 text-center"> <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="{% static "imgs/arda.jpg" %}" data-holder-rendered="true">
                  <h3>Arda Sahiner</h3>
                  <p></p>
                </div>
                <div class="col-lg-3 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="{% static "imgs/jaemin_portrait.jpg" %}" data-holder-rendered="true">
                  <h3>Jaemin Kim</h3>
                  <p></p>
                </div>
                <div class="col-lg-3 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="{% static "imgs/kunal_portrait.jpg" %}" data-holder-rendered="true">
                  <h3>Kunal Gosar</h3>
                  <p></p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Want to get to know the MusicGen team a little better? Contact us.</p>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:philkuz@berkeley.edu">philkuz [at] berkeley.edu</a></p>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:sahinera@berkeley.edu">sahinera [at] berkeley.edu</a></p>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:jaeminkim1324@berkeley.edu">jaeminkim1324 [at] berkeley.edu</a></p>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:kunal.gosar@berkeley.edu">kunal.gosar [at] berkeley.edu</a></p>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
