<html>

<head>
<link href="static/css/bootstrap.css" rel="stylesheet">
</head>


<style>
#combo {
	padding-top: 5px;
	padding-bottom: 5px;
}
body {
	margin-left:50px;
	margin-top:10px;
}
</style>

<body>
<section>
<header>Choose your genre!</header>
<select id="combo" name="Genre">
	<option value="Jazz">Jazz</option>
	<option value="Classical">Classical</option>
	<option value="Video Game">Video Game</option>
</select>
<div>
<form action="#">
	Choose your Beats Per Minute! <input type="text" placeholder="bpm" width="15px"> <br>
</form>
</div>
</section>